# .github/workflows/deploy.yml
name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

env:
  SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
  SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
  SUPABASE_TABLE: ${{ secrets.SUPABASE_TABLE }}
  APP_EMAIL: ${{ secrets.SUPABASE_APP_EMAIL }}
  APP_PASSWORD: ${{ secrets.SUPABASE_APP_PASSWORD }}

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        
      - name: Install dependencies
        run: |
          install.packages(c("shinylive", "httpuv"))
        shell: Rscript {0}
        
      - name: Create config file
        run: |
          Rscript -e "
          Sys.setenv(
          SUPABASE_URL = '${{ env.SUPABASE_URL }}',
          SUPABASE_KEY = '${{ env.SUPABASE_KEY }}',
          SUPABASE_TABLE = '${{ env.SUPABASE_TABLE }}',
          APP_EMAIL = '${{ env.APP_EMAIL }}',
          APP_PASSWORD = '${{ env.APP_PASSWORD }}'
          )
          shinylive::export('.', '_site')
          "
          
      - name: Export Shinylive app
        run: |
          shinylive::export(".", "_site")
        shell: Rscript {0}
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
